* {
  box-sizing: border-box;
}

p {
  background-color: #f1f1f1;
  padding: 8px 15px;
}

.copy {
  background-color: #009578;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 22px;
}
.copy:active {
  background-color: #006f59;
}
.copy:disabled {
  background-color: #f1f1f1;
  color: #333333;
  cursor: not-allowed;
}
.icon {
  font-size: 32px;
}